@import "../../../common";

.button-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
  justify-content: center;

  @media screen and (max-width: @mobile-max-width) {
    margin-top: 0;
    gap: 12px;
    flex-direction: column;
    align-items: center;
  }

  button {
    color: white;
    font-size: 32px;
    height: 64px;
    width: 256px;

    @media screen and (max-width: @mobile-max-width) {
      height: 64px;
      font-size: 20px;
      width: 50%;
    }

    ::ng-deep .mdc-button__label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media screen and (max-width: @mobile-max-width) {
        span {
          flex-grow: 1;
        }
      }

      img {
        width: 48px;
        height: 48px;
        padding-left: 20px;
        padding-right: 15px;

        @media screen and (max-width: @mobile-max-width) {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .social-buttons {
    display: flex;
    gap: 24px;
    justify-content: center;

    button {
      width: 256px;

      @media screen and (max-width: @mobile-max-width) {
        width: 100%;
      }
    }

    @media screen and (max-width: @mobile-max-width) {
      flex-direction: column;
      gap: 12px;
      width: 60%;
      align-items: center;
    }
  }

  .rules-buttons {
    button {
      width: 536px;

      span {
        width: 100%;
        text-align: center;
      }

      @media screen and (max-width: @mobile-max-width) {
        width: 100%;
      }
    }

    @media screen and (max-width: @mobile-max-width) {
      flex-direction: column;
      align-items: center;
      width: 60%;
    }
  }

  .discord-button {
    background-color: #5865F2;
  }

  .patreon-button {
    background-color: #FF424D;
  }

  .xbox-button {
    background-color: #0e7a0d;
  }
}
