@import "../common-page.less";

#article-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;

  .text-modal {
    width: 50%;
    text-align: left !important;

    .title-container {
      width: 80%;
      display: flex;
      justify-content: space-between;
    }
  }

  .break {
    border: 1px solid lightgray;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  iframe {
    width: 80%;
  }

  img {
    width: 40%;
  }

  span {
    font-family: 'Ubuntu', sans-serif;
  }

  p {
    width: 70%;
    padding: 10px 0;
  }
}
