<div class="gallery-container">
  <ngx-slick-carousel class="carousel"
                      #slickModal="slick-carousel"
                      [config]="slideConfig"
                      (init)="init($event)"
                      (afterChange)="change($event)">
    <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide">
      <img src="{{ slide.img }}" alt="" width="50%" [class.current]="blur">
      <span class="force-loader">1</span>
    </div>
  </ngx-slick-carousel>
</div>
