<div id="home-container">
    <div id="play-for-free-button">
        <button class="play-button modal" (click)="goToDownloads()">
            <span>Play for Free!</span>
        </button>
    </div>
    <div id="introduction">
      <div class="text-container">
          The third installment of the Viva Pinata developed by fans for fans!
      </div>
      <div class="more-below">
        <mat-icon>
          expand_more
        </mat-icon>
      </div>
    </div>
    <div id="gallery">
      <div id="gallery-container">
        <div class="intro-bottom-gradient"></div>
        <div class="gallery-header">Gallery</div>
        <rtp-gallery></rtp-gallery>
      </div>
    </div>
    <div id="about-game"></div>
</div>
