<div id="home-container" [ngStyle]="{'background-image': background}">
    <div id="play-for-free-button">
        <img src="assets/images/title.png">
        <button class="play-button modal" (click)="goToDownloads()">
            <span>Play for Free!</span>
        </button>
    </div>
    <div id="introduction">
      <div class="text-container">
          <p>The spiritual successor to the Viva Piñata franchise developed by fans for fans!</p>
          <rtp-social-buttons></rtp-social-buttons>
      </div>
    </div>
    <div id="gallery" [ngStyle]="{'background-image': backgroundCandy}">
      <div id="gallery-container">
        <div class="intro-bottom-gradient"></div>
        <div class="header">Gallery</div>
        <rtp-gallery></rtp-gallery>
      <div class="intro-top-gradient"></div>
      </div>
    </div>
    <div id="about-game">
      <div class="header">Game</div>
      <div class="about-game-container">
        <div class="image-container">
          <img src="assets/images/sweetah.png">
        </div>
        <div class="text-container">
          <p><i>Return to Paradise</i> is a whole new game developed in <i>Unreal Engine 5</i> with all original assets</p>
          <p>In addition to the original 88 piñata, we plan to introduce an additional 305!</p>
          <p><i>RTP</i> is being developed following Microsoft's Game Content Usage Rules.</p>
        </div>
      </div>
    </div>
</div>
